

<form class="form-horizontal" ng-controller="Feature2Ctrl">

    <center><h2>GimMeSomething</h2>
    <p>A Javascript based client that generates random media from

    <select ng-model="media" style="color:red">
        <option value="">-Please select-</option> <!-- not selected / blank option -->
        <option value="true">Giphy</option>
        <option value="false">Xkcd</option>
    </select>
    </p>
    <p> <span class="label label-warning">Random</span> for a randomized string specific search.</p>
    </center>


    <center><img ng-src="{{stuff}}" alt="Description" /></center>
    <br/>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
          <input type="text" class="form-control" id="querry" placeholder="" ng-model="searchQuery">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
          <center><button type="submit" class="btn btn-warning btn-sm raised" ng-click="submitTranslate()">Random</button></center>
        </div>
      </div>
</form>
